* {
  margin: 0;
  padding: 0;
}

.banner {
  position: fixed;
  top: 0;
  left: 20%;
  height: 100%;
  background-color: white;
  width: 50%;
  z-index: 2;
  padding: 5%;
  font-family: arial, sans-serif;
}

.banner h2 {
  display: block;
  margin: 0 0 2%;
  text-align: center;
}

.banner img {
  height: 150px;
  display: block;
  margin: auto;
}

.banner h3 {
  margin: 0.5em 0;
  font-style: italic;
  text-decoration: underline;
  font-weight: normal;
}

.banner ol {
  padding-left: 30px;
}

.train {
  position: fixed;
  width: 150px;
  height: 120px;
  top: calc(40% - 60px);
  left: calc(50% - 75px);
  background-size: 100%; 
}

.train.clickable {
  cursor: pointer;
}

.tr1 {
  background-image: url('../images/tr1.png');
}

.tr2 {
  background-image: url('../images/tr2.png');
}

.tr3 {
  background-image: url('../images/tr3.png');
}

.tr4 {
  background-image: url('../images/tr4.png');
}

.tr5 {
  background-image: url('../images/tr5.png');
}

.wagon {
  position: fixed;
  width: 150px;
  height: 106px;
  bottom: 53px;
  cursor: pointer;
  border: solid 0 #fff;
  border-radius: 10px;
  visibility: hidden;
}

.wagon.visible {
  visibility: visible;
}

.wagon1 {
  left: calc(10% - 75px);
}

.wagon2 {
  left: calc(30% - 75px);
}

.wagon3 {
  left: calc(50% - 75px);
}

.wagon4 {
  left: calc(70% - 75px);
}

.wagon5 {
  left: calc(90% - 75px);
}

.active {
  background-color: rgba(0,0,0,0.2);
}

.freeze {
  cursor: default;
}

.freeze.last {
  cursor: pointer;
}

button {
  display: block;
  padding: 10px;
  cursor: pointer;
  margin: 2% auto 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
}
